@font-face {
  font-family: "Lighthaus";
  src: url("/Lighthaus.woff2");
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("/Wremena.woff2");
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
}

ul {
  list-style: none;
}
