.chapters {
  position: relative;
  z-index: 100;
  flex-grow: 1;
  width: 100%;
  font-size: 6.1px;
}
.chapters__text {

  font-family: "Lighthaus";
  cursor: pointer;
  fill: white;
  text-transform: lowercase;
  letter-spacing: 0.3px;
}

.chapters__item:hover {
  fill: red;
}


